<div class=" pt-24">
  <div class="max-w-2xl">
    <h1 class="text-3xl font-bold text-center text-white mb-6">
      Bailey Burnsed - Senior Software Engineer
    </h1>
    <p class="text-white leading-relaxed mb-4">
      Bailey Burnsed is a senior software engineer with over eight years of experience creating tailored technology solutions for businesses of all sizes. He specializes in providing affordable support for small businesses and startups. Bailey focuses on making software accessible and helping clients stay competitive with custom-built tools and applications.
    </p>
    <p class="text-white leading-relaxed mb-4">
      With expertise in a wide range of technologies, including Python, Django, React, JavaScript, WordPress, and Flutter, among others, Bailey has a diverse skill set that allows for a versatile approach to projects. He also contributes to open-source projects like Godot and LunarVim, which further demonstrates his commitment to the field.
    </p>
    <p class="text-white leading-relaxed mb-4">
      Bailey has collaborated with a range of clients, including <span class="italic text-whie">Tunj</span>, and <span class="italic text-white">AJ</span>. He consistently delivers reliable solutions tailored to each business's unique needs. His practical and value-driven technology makes him a dependable partner for any business looking to bring new ideas to life.
    </p>
  </div>
</div>

