---
const today = new Date();
---
<footer class="footer footer-center bg-base-300/40 border-t border-base-300 py-6 mt-10">
  <aside>
    <p class="text-sm text-base-content/80">&copy; {today.getFullYear()} Bailey Burnsed. All rights reserved.</p>
  </aside>
</footer>
