---
import HeroLogo from '../shared/HeroLogo.astro';
---
<div class="hero py-12 w-full noise">
  <div class="hero-content flex-col lg:flex-row w-full">
    <div class="w-2/3 sm:w-full md:w-2/3 mask mask-hexagon ring ring-info ring-offset-4 ring-offset-info p-2 mt-5">
      <HeroLogo />
    </div>
    <div class="">
      <div class="items-center px-3 ">
         <h1 class="text-4xl sm:text-6xl font-bold px-3">Thank You</h1>
         <h2 class="text-3xl sm:text-3xl px-3">See your shortly</h2>
      </div>
    </div>
  </div>
</div>
