---
const { title, description, tags = [] } = Astro.props
---
<div class="card bg-base-100 w-full h-full border border-primary shadow-xl min-h-32 hover:shadow-2xl transition-shadow duration-300">
  <div class="card-body">
    <h2 class="card-title text-lg">{title}</h2>
    <p class="text-sm text-base-content">{description}</p>
    {tags && tags.length > 0 && (
      <div class="mt-2">
        {tags.map(tag => <span class="badge badge-outline badge-sm mr-1">{tag}</span>)}
      </div>
    )}
  </div>
</div>

