---
---
<section class="m-4 md:m-8 text-base-content py-8">
	<div class="container p-4 mx-auto my-6 space-y-1 text-center">
		<h2 class="pb-3 text-3xl font-bold md:text-4xl">Membership Benefits</h2>
	</div>
	<div class="container grid justify-center gap-4 mx-auto lg:grid-cols-2 xl:grid-cols-4">
		<div class="flex flex-col px-8 py-6">
			<h2 class="mb-2 text-lg font-semibold sm:text-xl title-font text-base-content">Top-notch quality</h2>
			<p class="flex-1 mb-4 text-base leadi text-base-content/70">Insane code quality at your fingertips whenever you need it</p>
		</div>
		<div class="flex flex-col px-8 py-6 lg:border-none xl:border-solid">
			<h2 class="mb-2 text-lg font-semibold sm:text-xl title-font text-base-content">Flexible and scalable</h2>
			<p class="flex-1 mb-4 text-base leadi text-base-content/70">Scale up or down as needed, and pause or cancel at anytime.</p>
		</div>
		<div class="flex flex-col px-8 py-6">
			<h2 class="mb-2 text-lg font-semibold sm:text-xl title-font text-base-content">Battle Proven Technology</h2>
			<p class="flex-1 mb-4 text-base leadi text-base-content/70">Your App will use only the most stable and proven technologies like Django and Vuejs</p>
		</div>
		<div class="flex flex-col px-8 py-6">
			<h2 class="mb-2 text-lg font-semibold sm:text-xl title-font text-base-content">Full Stack Development</h2>
			<p class="flex-1 mb-4 text-base leadi text-base-content/70">Development the hole app, from the backend to the frontend</p>
		</div>
	</div>
</section>
