<div class="hero">
  <div class="hero-content text-left">
    <div class="max-w-2xl text-left">
      <h1 class="text-xl font-bold">Building your software does not have to be stressful. You don’t have to hire people halfway around the world. I make it easy.</h1>
      <p class="p-3">Hi, my name is Bailey. I have been writing software for a long time. My job is to help people like you build great software without any hassles. All you have to do is click buy, and I’ll take care of the rest. No need to waste time working with amateurs who don’t know how to deliver a product. No need to pay an expensive consultant focused on increasing their billable hours. </p>
      <p class="p-3">The whole point of my offer is to write your software without any of the normally associated pain. </p>
      <p class="p-3">Ok, what’s the catch?</p>
      <p class="p-3">No catch. Ever. You pay the $4000/month and you get a full stack experienced onshore developer.</p>
      <div>
        <p>Here’s how I’m able to make this amazing offer available to you:</p>
        <ul class="list-disc">
         <li>No time wasted negotiating cost </li> 
         <li>You and I focus on one task at a time </li> 
         <li>You manage the project through a convenient Trello board </li> 
         <li>Minimal zoom meetings </li> 
         <li>You control how much work is done </li> 
         <li>No long term contracts </li> 
        </ul>
      </div>
      <div class="py-6">
        <a href="https://buy.stripe.com/9B67sM2DH0LhfOq4aeaEE06">
          <button class="btn btn-outline btn-primary mx-6">Buy Now</button>
        </a>
        
        <a href="sms:+14042134870?body=BOOK%20NOW">
          <button class="btn btn-outline btn-accent ">Book Now</button>
        </a>
      </div>
    </div>
  </div>
</div>
