---
import BaseHead from '../../components/astro/BaseHead.astro';
import Header from '../../components/astro/Header.astro';
import Footer from '../../components/astro/Footer.astro';
import Hero from '../../components/astro/Hero.astro'
import PostsList from "../../components/PostsList.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body class="h-screen items-center font-Verdana sans-serif text-white">
		<Header />
    <Hero />
		<main class="bg-slate-950 flex flex-col justify-center items-center">
      <PostsList />
		</main>
		<Footer />
	</body>
</html>
