---
import Hero from '../../components/Hero.astro'
import PostsList from "../../components/PostsList.astro"
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
  <Hero />
  <section class="text-center mb-8">
	  <h1 class="text-4xl font-bold text-primary mb-4">Blog</h1>
	  <p class="text-lg text-base-content">Thoughts on indie development, SaaS, and tech.</p>
  </section>
  <PostsList />
</BaseLayout>
