---
import ServiceCard from './ServiceCard.astro' 
---
<div class="relative h-full w-full bg-[radial-gradient(ellipse_at_left,_var(--tw-gradient-stops))] sm:bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-cyan-400 via-slate-950 to-slate-950">   <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"></div>

<section class="hero py-12">
		<div class="hero-content text-left ">
			<div class="max-w-2xl">
        <p><a class="link" id="myBookButton" href="https://calendly.com/baileyburnsed/15min">Remember to schedule a 15 minute zoom meeting</a> to have your questions answered. If you’re ready to get started, click here to purchase your first month and start assigning work. </p
      <div class="py-6">
        <a href="https://buy.stripe.com/5kAdRT5Rl5Cc3Vm005">
          <button id="myBuyButton" class="btn btn-primary">Buy Now</button>
        </a>
      </div>
      </div>
</section>


<script>
  // Ensure Google Analytics gtag.js script is loaded before running this script

  // Event listener for the 'Buy Now' button click
  document.getElementById('myBuyButton').addEventListener('click', function() {
    gtag('event', 'purchase', { // Use 'purchase' or a relevant event name
      'event_category': 'Sales',
      'event_label': 'Buy Now Button',
      'value': 1 // Adjust the value to represent the event's value to your business
    });
  });

  // Event listener for the 'Schedule Meeting' link click
  document.getElementById('myBookButton').addEventListener('click', function() {
    gtag('event', 'schedule_meeting', { // Use 'schedule_meeting' or a relevant event name
      'event_category': 'Engagement',
      'event_label': 'Schedule Meeting Link',
      'value': 1 // Adjust the value as needed
    });
  });
</script>
