---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
>
	<p>
	  I am your tipical autisic nerd how rents a basment apartment and freelances web development.
    I am also a digital artist, a cyber security freak and a moonlight game developer. I develop 
    free and open source software for my personal use and to help make the world a safer place.
    I beleave that I can make a differance in the world by educating people and how to keep what 
    little privatcy and freedom we still have. I am also a firm belever that you can make a living 
    developing FOSS applications and Art.
	</p>
  <h3>
    Self Tough and Collage Experance
  </h3>
	<p>
	  I began programming at around 7 years old, making mods to video games like Command and Conquer
    and Sid Mirs Civilation. I first started working professional as a mear programmer building Python
    Web Scraping and Web Crawling scripts to gather data for local small busness in Peachtree City GA, USA.
    At that time I was also a local Digital artist that made small animations and logos for local family owned
    coffee shops and farmers market vinders. Then I build a Full Stack WebApp in Django though it on the web and well
    I have not been a professional artist sense.
	</p>

	<p>
	  I am current in the prosses of getting my BS in Computer Sciense. I am taking Georgia Ecore online and taking the 
    CLAP Tests, to get my AS at a local collage than transfer to either GA Tech or Klaton State for a BS in Software Enginering.
    In the mean time I am getting more Certifications and building a few SaaSs here and there. 
	</p>

	<p>
		Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere ac ut consequat semper
		viverra. Tellus mauris a diam maecenas sed enim ut sem viverra. Venenatis urna cursus eget nunc
		scelerisque viverra mauris in. Arcu ac tortor dignissim convallis aenean et tortor at. Curabitur
		gravida arcu ac tortor dignissim convallis aenean et tortor. Egestas tellus rutrum tellus
		pellentesque eu. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Ut enim
		blandit volutpat maecenas volutpat blandit aliquam etiam. Id donec ultrices tincidunt arcu. Id
		cursus metus aliquam eleifend mi.
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
