---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="my lifes story"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
>
	<p>
	  I am your tipical autisic nerd how rents a basment apartment and freelances web development.
    I am also a digital artist, a cyber security freak and a moonlight game developer. I develop 
    free and open source software for my personal use and to help make the world a safer place.
    I beleave that I can make a differance in the world by educating people and how to keep what 
    little privatcy and freedom we still have. I am also a firm belever that you can make a living 
    developing FOSS applications and Art.
	</p>
  <h3>
    Self Tough and Collage Experance
  </h3>
	<p>
	  I began programming at around 7 years old, making mods to video games like Command and Conquer
    and Sid Mirs Civilation. I first started working professional as a mear programmer building Python
    Web Scraping and Web Crawling scripts to gather data for local small busness in Peachtree City GA, USA.
    At that time I was also a local Digital artist that made small animations and logos for local family owned
    coffee shops and farmers market vinders. Then I build a Full Stack WebApp in Django though it on the web and well
    I have not been a professional artist sense.
	</p>

	<p>
	  I am currently in the prosses of getting my BS in Computer Sciense. I plan transfer to  GA Tech after getting my AS in CS.
    In the mean time I am getting Certifications and building a few SaaSs here and there. I strive for greatness everyday and I
    love helping others acheave there goals. 
	</p>
  <h3>
    Hobbies and Goals 
  </h3>
	
	<p>
  	My hobbies inclued making breath taking renders of Space Scaps and Sci Fi 3d Scense. I use only open source tools like Blender, Krita, 
    and Inkscap to make my art. I moonlight as a game developer building Rouglikes, Space Shooters and 4x games. I am currently trying to combind all 
    this gonras into a single game or searies of games using the same realtime database to be in a shared universe. 
	</p>
	<p>
    I also build and contribute to open source projects that I feel are making a differance in the world making it a safer and more secure place. 
    I also love making educational material like Tutorials and Courses that help people learn new things and expand the horizons. 
	</p>
</Layout>
