---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout
  title="TOS"
  description="I build Apps"
>
    <h1>Developer Membership Terms & Conditions</h1>
    <p>Last Updated: March 22, 2023</p>

    <h2>1. Intellectual Property Rights</h2>
    <p>Unless otherwise stated, the Developer and/or its licensors own the intellectual property rights for all material on the Website and Services. All intellectual property rights are reserved. Members may access this from the Website for their personal use subjected to restrictions set in these terms and conditions.</p>

    <h2>2. Membership Terms</h2>
    <p>Members are granted a non-exclusive, non-transferable, revocable license to access and use the Services strictly in accordance with these terms. As a Member, you agree to:</p>
    <ul>
        <li>Use the Services for lawful purposes only and in accordance with these Terms.</li>
        <li>Not to copy, or modify any part of the Services without the prior written consent of the Developer.</li>
        <li>Not to transmit any data that could be harmful to the Developer or other Members.</li>
    </ul>

    <h2>3. User Obligations</h2>
    <p>Members agree to abide by all applicable laws and regulations in their use of the Services and not to use the Services for any unauthorized or illegal purpose. Members further agree not to compromise the security of the Website or attempt to gain unauthorized access to the Website, server materials, or member accounts.</p>

    <h2>4. Service Modification and Availability</h2>
    <p>The Developer reserves the right, at its sole discretion, to modify, replace, or discontinue any part of the Services at any time without notice. The Developer shall not be liable to any Member or third party for any modification, price change, suspension, or discontinuance of the Services.</p>

    <h2>5. Termination</h2>
    <p>The Developer may terminate or suspend access to our Services immediately, without prior notice or liability, for any reason whatsoever, including, without limitation, if Members breach the Terms.</p>

    <h2>6. Limitation of Liability</h2>
    <p>In no event will the Developer, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential, or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from the use of or inability to use the Service.</p>

    <h2>7. Indemnification</h2>
    <p>Members agree to indemnify and hold the Developer harmless from any demands, loss, liability, claims, or expenses (including attorneys’ fees), made against them by any third party due to, or arising out of, or in connection with their use of the Website or any of the Services offered on the Website.</p>

    <h2>8. Changes to Terms</h2>
    <p>The Developer reserves the right, at its sole discretion, to modify or replace these Terms at any time. By continuing to access or use our Services after any revisions become effective, Members agree to be bound by the revised terms.</p>

    <h2>9. Governing Law</h2>
    <p>These Terms shall be governed and construed in accordance with the laws of Georgia,United States without regard to its conflict of law provisions.</p>

    <h2>10. Contact Information</h2>
    <p>For any questions or inquiries regarding the Services or these Terms, please contact baileyburnsed.dev</p>
</BaseLayout>
