---
---
<ul class="timeline timeline-vertical max-w-prose">
  <li>
    <div class="timeline-start timeline-box">1995 - Was Born</div>
    <hr/>
  </li>
  <li>
    <hr/>
    <div class="timeline-end timeline-box">2000 - Developed my first video game mod</div>
    <hr/>
  </li>
  <li>
    <hr/>
    <div class="timeline-start timeline-box">2016 - Learned Django</div>
    <hr/>
  </li>
  <li>
    <hr/>
    <div class="timeline-end timeline-box">2017 - Started Freelancing</div>
    <hr/>
  </li>
  <li>
    <hr/>
    <div class="timeline-start timeline-box">2021 - Got my first corporate job</div>
  </li>
  <li>
    <hr/>
    <div class="timeline-start timeline-box">2022 - Started working on my dream company, building privatcy focused apps and games and my art.</div>
  </li>
</ul>
