---
---
<div class="flex flex-col py-3">
   <section class="text-white justify-center flex flex-col max-w-prose gap-10" id="bio">
      <h4 class="justify-center max-w-prose">Bio</h4>
    	<ul class="items-center max-w-prose justify-center list-disc">
				<li>1995 - was born</li>
				<li>2002 - made my first video game mod</li>
				<li>2016 - started to learn Django</li>
        <li>2017 - Started Freelancing after 6 months</li>
				<li>2021 - Got my first corprate job</li>
				<li>2022 to present - Indie Software Engineer building awsome commercial FOSS apps</li>
			</ul>
  </section>
</div>
