---
---
<div class="bg-gradient-to-r from-orange to-blue card">
  <div class="text-xl font-semibold mb-2"></div>
  <p class="text-gray"></p>
  <div class="mt-4">
    <a href="#" class="text-gray hover:underline">Read more</a>
  </div>
</div>

