---
---
<div class=" noise glass  backdrop-blur shadow-pink card w-96 h-32 shadow-xl">
  <div class="text-xl font-semibold mb-2"></div>
  <p class="text-white"> </p>
  <div class="mt-4">
    <a href="#" class="text-gray hover:underline">Read more</a>
  </div>
</div>

