---
const { title, description } = Astro.props
---
<div class=" noise border border-primary bg- backdrop-blur shadow-info card  h-32 shadow-xl">
  <div class="py-8 px-6 font-semibold mb-2">
    <h2 class="text-xl">{title}</h2>
    <h3 class="text-white text-lg">{description}</h3>
  </div>
</div>

