---
const { title, description, tags = [] } = Astro.props
---
<div class=" noise border border-primary bg-gradient-to-br-gray-900 backdrop-blur shadow-pink card min-h-32 shadow-xl">
  <div class="py-8 px-6 font-semibold mb-2">
    <h2 class="text-lg">{title}</h2>
    <h3 class="text-white text-sm">{description}</h3>
    {tags && tags.length > 0 && (
      <div class="mt-2">
        {tags.map(tag => <span class="badge badge-outline badge-sm mr-1">{tag}</span>)}
      </div>
    )}
  </div>
</div>

