---
---

<div class="bg-gray-dark rounded-lg shadow-md p-4 w-full">
  <div class="text-xl font-semibold mb-2"></div>
  <p class="text-gray-600"></p>
  <div class="mt-4">
    <a href="#" class="text-blue-500 hover:underline">Read more</a>
  </div>
</div>

