<section class="max-w-2xl py-12 bg-slate-950 ">
		<div class=" text-left ">
			<div class="max-w-2xl">
        <p><a class="link link-success" href="https://calendly.com/baileyburnsed/15min">Remember to schedule a 15 minute zoom meeting</a> to have your questions answered. If you’re ready to get started, click here to purchase your first month and start assigning work. References are available on request </p
      <div>
        <a href="https://buy.stripe.com/5kAdRT5Rl5Cc3Vm005">
          <button id="myBuyButton" class="btn btn-outline btn-primary mx-3">Buy Now</button>
        </a>
        <a href="https://calendly.com/baileyburnsed/15min">
          <button id="myBookButton" class="btn btn-outline btn-accent">Book Now</button>
        </a>
      </div>
    </div>
</section>
<script>
  // Ensure Google Analytics gtag.js script is loaded before running this script
  // Event listener for the 'Buy Now' button click
  document.getElementById('myBuyButton').addEventListener('click', function() {
    gtag('event', 'purchase', { // Use 'purchase' or a relevant event name
      'event_category': 'Sales',
      'event_label': 'Buy Now Button',
      'value': 1 // Adjust the value to represent the event's value to your business
    });
  });
  // Event listener for the 'Schedule Meeting' link click
  document.getElementById('myBookButton').addEventListener('click', function() {
    gtag('event', 'schedule_meeting', { // Use 'schedule_meeting' or a relevant event name
      'event_category': 'Engagement',
      'event_label': 'Schedule Meeting Link',
      'value': 1 // Adjust the value as needed
    });
  });
</script>
