---
---
<form class="max-w-prose py-2"action="https://formsubmit.co/bburnsed1995@gmail.com" name="contact" method="POST">
        <!-- This hidden input field is required by Netlify forms -->
        <input type="hidden" name="form-name" value="contact">
        <div class="bg-background-color rounded ">
            <h2 class="text-2xl font-semibold mb-4">Contact Me</h2>
            <p class="mb-4">
                Looking for a developer for your next project? I can develop an awesome app to solve your company's needs.
            </p>
            <div class="mb-4">
                <label for="name" class="block text-white font-medium">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" class="input input-ghost w-full" required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-medium">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" class="input input-ghost w-full" required>
            </div>
            <div class="mb-4">
                <label for="message" class="block font-medium">Message</label>
                <textarea id="message" name="message" rows="4" placeholder="Please feel free to contact me..." class="input input-ghost w-ful" required></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline btn-ghost text-white">Submit</button>
            </div>
        </div>
</form>
