---
---
<div class="relative h-full w-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] sm:bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] from-cyan-400 via-slate-950 to-slate-950">   <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"></div>

<section class="py-6 dark:text-gray-50">
	<div class="grid max-w-6xl grid-cols-1 px-6 mx-auto lg:px-8 md:grid-cols-2 md:divide-x">
		<div class="py-6 md:py-0 md:px-6">
			<h1 class="text-4xl font-bold">Get in touch</h1>
			<p class="pt-2 pb-4">Fill in the form to start a conversation</p>
			<div class="space-y-4">
			<p class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
						<path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
					</svg>
					<span>404-213-4870</span>
				</p>
				<p class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
						<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
						<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
					</svg>
					<span>mail@baileyburnsed.dev</span>
				</p>
			</div>
		</div>
		<form novalidate="" class="flex flex-col py-6 space-y-6 md:py-0 md:px-6"action="https://formsubmit.co/bburnsed1995@gmail.com" name="contact" method="POST">
			<label class="block">
				<span class="mb-1">Full name</span>
				<input type="text" placeholder="Leroy Jenkins" class="input input-ghost block w-full rounded-md shadow-sm focus:ring focus:ri focus:ri ">
			</label>
			<label class="block">
				<span class="mb-1">Email address</span>
				<input type="email" placeholder="leroy@jenkins.com" class="input input-ghost block w-full rounded-md shadow-sm focus:ring focus:ri focus:ri ">
			</label>
			<label class="block">
				<span class="mb-1">Message</span>
				<textarea rows="3" placeholder="Contact Me" class="input input-ghost block w-full rounded-md focus:ring focus:ri focus:ri "></textarea>
			</label>
			<button type="button" class="self-center btn btn-outline btn-neutral">Submit</button>
		</form>
	</div>
</section>
