---
---
<form class="max-w-prose "action="https://formsubmit.co/bburnsed1995@gmail.com" name="contact" method="POST">
        <!-- This hidden input field is required by Netlify forms -->
        <input type="hidden" name="form-name" value="contact">
        <div class="bg-background-color rounded ">
            <h2 class="text-2xl font-semibold mb-4">Contact Us</h2>
            <p class="mb-4">
                Looking for a developer for your next project? I can develop an awesome app to solve your company's needs.
            </p>
            <div class="mb-4">
                <label for="name" class="block text-white font-medium">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" class="w-full text-black px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-medium">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" class="text-black w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" required>
            </div>
            <div class="mb-4">
                <label for="message" class="block font-medium">Message</label>
                <textarea id="message" name="message" rows="4" placeholder="Please feel free to contact me..." class="w-full text-black px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" required></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="bg-purple text-white py-2 px-6 rounded-full hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-400">Submit</button>
            </div>
        </div>
</form>
