---
const today = new Date();
---
<footer class="footer footer-center bg-slate-950">
  <aside>
    <p>&copy; {today.getFullYear()} Bailey Burnsed. All rights reserved.</p>
  </aside>
</footer>

	    
