---
---
<div class="join join-vertical w-full py-16">
  <h1 class="flex justify-center text-xl py-24">FQA</h1>
  <div class="collapse collapse-arrow join-item border border-base-300">
    <input type="radio" name="my-accordion-4" checked="checked" /> 
    <div class="collapse-title text-xl font-medium">
    </div>
    <div class="collapse-content"> 
      <p></p>
    </div>
  </div>
  <div class="collapse collapse-arrow join-item border border-base-300">
    <input type="radio" name="my-accordion-4" /> 
    <div class="collapse-title text-xl font-medium">
    </div>
    <div class="collapse-content"> 
      <p></p>
    </div>
  </div>
  <div class="collapse collapse-arrow join-item border border-base-300">
    <input type="radio" name="my-accordion-4" /> 
    <div class="collapse-title text-xl font-medium">
    </div>
    <div class="collapse-content"> 
      <p></p>
    </div>
  </div>
  <div class="collapse collapse-arrow join-item border border-base-300">
    <input type="radio" name="my-accordion-4" checked="checked" /> 
    <div class="collapse-title text-xl font-medium">
    </div>
    <div class="collapse-content"> 
      <p></p>
    </div>
  </div>
  <div class="collapse collapse-arrow join-item border border-base-300">
    <input type="radio" name="my-accordion-4" /> 
    <div class="collapse-title text-xl font-medium">
    </div>
    <div class="collapse-content"> 
      <p></p>
    </div>
  </div>
  <div class="collapse collapse-arrow join-item border border-base-300">
    <input type="radio" name="my-accordion-4" /> 
    <div class="collapse-title text-xl font-medium">
    </div>
    <div class="collapse-content"> 
      <p></p>
    </div>
  </div>
</div>  
