---
import HeaderLink from './HeaderLink.astro';
---
<header class="bg-gradient-to-r from-orange to-blue w-full h-15 py-4 z-10 fixed backdrop-blur-md shadow-pink">
	<nav class="flex flex-row justify-center gap-10">
    <div class="items-start text-white">
      <HeaderLink href="/">Home</HeaderLink>
    </div>
    <div class="justify-end text-white">
		  <HeaderLink class="gap-10 justify-between" href="/blog" data-goatcounter-click="exit-blog" data-goatcounter-title="Exit to Blog">Blog</HeaderLink>
    </div>
    <div class="justify-end text-white">
      <HeaderLink class="gap-10 justify-end" href="/about" data-goatcounter-click="exit-about" data-goatcounter-title="Exit to about">About</HeaderLink>
    </div> 
	</nav>
</header>
