---
import HeaderLink from './HeaderLink.astro';
// import { SITE_TITLE } from '../consts';
---

<header>
  <!-- <h2>{SITE_TITLE}</h2> -->
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://github.com/Burnsedia" data-goatcounter-click="exit-github" data-goatcounter-title="Exit to GitHub" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
    display: flex;
    flex-direction: row;
	}
	h2 {
		margin: 0.5em 0;
    flex-grow: 7;
	}
  nav {
		margin: 0.5em 0;
    flex-grow: 6;
  }
</style>
