---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="header">
  <div class="container">
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink id="home" href="/">Home</HeaderLink>
		<HeaderLink id="blog" href="/blog">Blog</HeaderLink>
		<HeaderLink id="about" href="/about">About</HeaderLink>
		<HeaderLink id="github" href="https://github.com/Burnsedia" target="_blank">GitHub</HeaderLink>
	</nav>
  </div>
</header>
<style>
  .header {
  height: 70px;
  /* background: #013220; */
}

.header .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header img {
  height: 35px;
  vertical-align: middle;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  padding: 0 10px;
}

.header nav ul li a {
  color: #fff;
}
</style>

