<header class="w-full h-15 py-4 z-10 fixed backdrop-blur-md shadow-pink navbar navbar-start">
<div class="navbar ">
  <div class="navbar-start">
    <!-- <div class="dropdown"> -->
    <!--   <div tabindex="0" role="button" class="btn btn-ghost btn-circle"> -->
    <!--     <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg> -->
    <!--   </div> -->
    <!--   <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"> -->
    <!--     <li><a href="/">Homepage</a></li> -->
    <!--     <li><a href="/about">About</a></li> -->
    <!--   </ul> -->
    <!-- </div> -->
  </div>
  <div class="navbar-center">
      <a href="/" class="btn btn-ghost text-xl">BaileyBurnsed.dev</a>
  </div>
  <div class="navbar-end">
      <!-- <a href="/blog" class="btn btn-ghost text-sm">blog</a> -->
      <!-- <a href="/legal" class="btn btn-ghost text-sm">legal</a> -->
  </div>
</div>
</header>
