---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Typing } from "../components/typing.jsx"
---
  <div class="flex flex-row justify-center items-center gap-3 w-full bg-gradient-to-r from-orange to-purple lg:flex-row md:flex-row sm:flex-col py-12">
    <section class="flex flex-col justify-center items-center"  id="intro">
      <div class="text-white">
			  <h1>{SITE_DESCRIPTION}</h1>
			  <p>
			    Nothing to see here, just working on awesome stuff like,
			  </p>
        <Typing client:load/>
    </div>
    </section>
  </div>

