---
import { Image } from 'astro:assets';
import { SITE_DESCRIPTION } from '../consts';
import { Typing } from "../components/typing.jsx"
import LOGO from "../assets/CyberPunkLogo2.jpg"
---

<div class="hero py-12 noise bg-slate-950">
  <div class="hero-content flex-col lg:flex-row w-full">
    <div class="w-2/3 mask mask-hexagon ring ring-primary shadow-info scale-75 ring-offset-base-100 ring-offset-2">
      <Image src={LOGO} alt="praise the Omnissiah" />
    </div>
    <div class="">
      <div class="items-center px-3 ">
         <h1 class="text-2xl sm:text-6xl font-bold px-3">{SITE_DESCRIPTION}</h1>
      <Typing client:load/>
      </div>
      <div class="px-3 py-6">
        <h3 class="text-2xl font-bold">Here's how it works:</h3>
        <ol class="list-decimal px-4">
          <li>Pay for 30 days of software development services</li>
          <li>Schedule a zoom meeting to get started</li>
          <li>Assign tasks on a Trello board</li>
          <li>Sit back and relax </li>
        </ol>  
      </div>
      <div class="py-6">
        <a href="https://buy.stripe.com/5kAdRT5Rl5Cc3Vm005">
          <button class="btn btn-outline btn-primary mx-auto">Buy Now</button>
        </a>
        
        <a href="sms:+14042134870?body=BOOK%20NOW">
          <button class="btn btn-outline btn-accent mx-auto">Book Now</button>
        </a>
      </div>
    </div>
  </div>
</div>
