---
import { Image } from 'astro:assets';
import { SITE_DESCRIPTION } from '../consts';
import LOGO from "../assets/CyberPunkLogo2.jpg"
 import { Typing } from './typing';
---

<div class="hero py-12 noise">
  <div class="hero-content flex-col lg:flex-row w-full">
    <div class="w-2/3 mask mask-hexagon ring ring-info ring-offset-4 ring-offset-info p-2">
      <Image src={LOGO} alt="praise the Omnissiah" />
    </div>
    <div class="">
      <div class="items-center px-3 ">
         <h1 class="text-2xl sm:text-6xl font-bold px-3">{SITE_DESCRIPTION}</h1>
          <Typing client:load />
      </div>
      <div class="px-3 py-6">
        <h2 class="text-2xl font-bold">Here's how it works:</h3>
        <ol class="list-decimal px-4">
          <li>Pay for 30 days of software development services</li>
          <li>Schedule a zoom meeting to get started</li>
          <li>Assign tasks on a Trello board</li>
          <li>Sit back and relax </li>
        </ol>  
      </div>
      <div class="py-6">
        <a href="https://buy.stripe.com/9B67sM2DH0LhfOq4aeaEE06">
          <button class="btn btn-outline btn-primary mx-6">Buy Now</button>
        </a>
        <a href="sms:+14042134870?body=BOOK%20NOW">
          <button class="btn btn-outline btn-accent mx-auto">Book Now</button>
        </a>
      </div>
      <div class="join">
        <div>
          <label class="input validator join-item">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  stroke-width="2.5"
                  fill="none"
                  stroke="currentColor"
                >
                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
              </g>
            </svg>
          <input type="email" placeholder="mail@site.com" required />
        </label>
        <div class="validator-hint hidden">Enter valid email address</div>
        </div>
        <button class="btn btn-info join-item">Join</button>
      </div>
    </div>
  </div>
</div>
