---
import { Image } from 'astro:assets';
import { SITE_DESCRIPTION } from '../consts';
import LOGO from "../assets/CyberPunkLogo2.jpg"
import { Typing } from './typing';
---

<div class="hero py-12 noise">
  <div class="hero-content flex-col lg:flex-row w-full">
    <div class="w-2/3 mask mask-hexagon ring ring-info ring-offset-4 ring-offset-info p-2">
      <Image src={LOGO} alt="praise the Omnissiah" />
    </div>
    <div class="">
       <div class="items-center px-3 ">
          <h1 class="text-2xl sm:text-6xl font-bold px-3">Indie Software Engineer & Productized Developer</h1>
           <Typing client:load />
       </div>
       <div class="px-3 py-6">
         <h2 class="text-2xl font-bold">Why Choose Me:</h3>
         <ul class="list-disc px-4">
           <li>Self-taught, Linux-native engineer building own products</li>
           <li>Focused on SaaS tools, developer tooling, and AI automation</li>
           <li>Own my stack, own my products – no trading hours for money</li>
           <li>Fast, efficient end-to-end systems that compound over time</li>
         </ul>
       </div>
       <div class="py-6">
         <a href="/services">
           <button class="btn btn-outline btn-primary mx-6">View Services</button>
         </a>
         <a href="/blog">
           <button class="btn btn-outline btn-accent mx-auto">Read Blog</button>
         </a>
         <a href="/projects">
           <button class="btn btn-outline btn-secondary mx-6">See Projects</button>
         </a>
       </div>
       <div class="py-6">
         <a href="/services">
           <button class="btn btn-outline btn-primary mx-6">View Services</button>
         </a>
         <a href="/blog">
           <button class="btn btn-outline btn-accent mx-auto">Read Blog</button>
         </a>
         <a href="/projects">
           <button class="btn btn-outline btn-secondary mx-6">See Projects</button>
         </a>
       </div>
    </div>
  </div>
</div>
