---
import { Image } from 'astro:assets';
import { SITE_DESCRIPTION } from '../consts';
import LOGO from "../assets/CyberPunkLogo2.jpg"
import { Typing } from './typing';
---

<div class="hero py-12 noise">
  <div class="hero-content flex-col lg:flex-row w-full">
    <div class="w-2/3 mask mask-hexagon ring ring-info ring-offset-4 ring-offset-info p-2">
      <Image src={LOGO} alt="praise the Omnissiah" />
    </div>
    <div class="">
       <div class="items-center px-3">
          <h1 class="text-2xl sm:text-6xl font-bold px-3">{SITE_DESCRIPTION}</h1>
          <p class="text-lg mt-4">Indie developer building SaaS and apps – explore my work and services.</p>
       </div>
       <div class="py-6">
         <a href="/services">
           <button class="btn btn-outline btn-primary mx-6">View Services</button>
         </a>
         <a href="/blog">
           <button class="btn btn-outline btn-accent mx-auto">Read Blog</button>
         </a>
         <a href="/projects">
           <button class="btn btn-outline btn-secondary mx-6">See Projects</button>
         </a>
       </div>
    </div>
  </div>
</div>
