---
import { SITE_DESCRIPTION } from '../consts';
import { Typing } from "../components/typing.jsx"
---
  <div class="flex flex-row justify-center items-center w-full lg:flex-row md:flex-row sm:flex-col py-24 m-5 bg-gradient-to-br from-rose-900 via-teal-500 to-red-600">
    <section class="flex flex-col justify-center items-center"  id="hero">
      <div class="text-whit">
			  <h1>{SITE_DESCRIPTION}</h1>
			  <p>
			    Nothing to see here, just working on awesome stuff like,
			  </p>
        <Typing client:load/>
    </div>
    </section>
  </div>

