---
---
<div class="py-5 flex flex-row justify-center items-center w-full lg:flex-row md:flex-row sm:flex-col m-5">
  <section class="text-white justify-center flex flex-col max-w-prose" id="hobbies">
			<p class="flex flex-col justify-start text-left break-words max-w-prose"> I love developing free and open-source software and turning them into commercial products. 
        I love learning new things, art, and the Sciences.</p>
			<p>Here are a few of my Hobbies and Projects </p>
			<ul class="text-left flex flex-col text-left list-disc">
				<li>Digital Art with Blender</li>
				<li>Building games in Godot Engine</li>
				<li>CTF challenges like Hack the Box</li>
				<li>Building things with Rust</li>
			</ul>
  </section>
</div>
