---
---
<!-- <section> -->
<!--   <h3 class="justify-center">Membership Benefits</h3>  -->
<!--   <div class="grid grid-col-1 sm:grid-col-3"> -->
<!--     <div class="cal-span-1 row-span-1"> -->
<!--       <h4>Top-notch quality</h4> -->
<!--       <p>Insane code quality at your fingertips whenever you need it</p> -->
<!--     </div>  -->
<!--     <div> -->
<!--       <h4>Flexible and scalable</h4> -->
<!--       <p>Scale up or down as needed, and pause or cancel at anytime.</p> -->
<!--     </div> -->
<!--       <div> -->
<!--       <h4>Battle Proven Technology</h4> -->
<!--       <p>Your App will use only the most stable and proven technologies like Django and Vuejs</p> -->
<!--     </div>  -->
<!--     <div> -->
<!--       <h4>Full Stack Development</h4> -->
<!--       <p>Development the hole app, from the backend to the frontend</p> -->
<!--     </div> -->
<!--     <div> -->
<!--       <h4>PWA in Vuejs</h4> -->
<!--       <p>All webapps will have a PWA for 1st class mobile support</p> -->
<!--     </div> -->
<!--   </div> -->
<!-- </section> -->

<section class="m-4 md:m-8 dark:text-gray-100">
	<div class="container p-4 mx-auto my-6 space-y-1 text-center">
		<h2 class="pb-3 text-3xl font-bold md:text-4xl">Membership Benefits</h2>
	</div>
	<div class="container grid justify-center gap-4 mx-auto lg:grid-cols-2 xl:grid-cols-4">
		<div class="flex flex-col px-8 py-6">
			<h2 class="mb-2 text-lg font-semibold sm:text-xl title-font dark:text-gray-100">Top-notch quality</h2>
			<p class="flex-1 mb-4 text-base leadi dark:text-gray-400">Insane code quality at your fingertips whenever you need it</p>
			<!-- <a class="inline-flex items-center space-x-2 text-sm dark:text-violet-400" href="/components"> -->
			<!-- 	<span>Learn More</span> -->
			<!-- 	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4"> -->
			<!-- 		<path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path> -->
			<!-- 	</svg> -->
			<!-- </a> -->
		</div>
		<div class="flex flex-col px-8 py-6 lg:border-none xl:border-solid">
			<h2 class="mb-2 text-lg font-semibold sm:text-xl title-font dark:text-gray-100">Flexible and scalable</h2>
			<p class="flex-1 mb-4 text-base leadi dark:text-gray-400">Scale up or down as needed, and pause or cancel at anytime.</p>
			<!-- <a class="inline-flex items-center space-x-2 text-sm dark:text-violet-400" href="/sections"> -->
			<!-- 	<span>Learn More</span> -->
			<!-- 	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4"> -->
			<!-- 		<path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path> -->
			<!-- 	</svg> -->
			<!-- </a> -->
		</div>
		<div class="flex flex-col px-8 py-6">
			<h2 class="mb-2 text-lg font-semibold sm:text-xl title-font dark:text-gray-100">Battle Proven Technology</h2>
			<p class="flex-1 mb-4 text-base leadi dark:text-gray-400">Your App will use only the most stable and proven technologies like Django and Vuejs</p>
			<!-- <a class="inline-flex items-center space-x-2 text-sm dark:text-violet-400" href="/templates"> -->
			<!-- 	<span>Learn More</span> -->
			<!-- 	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4"> -->
			<!-- 		<path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path> -->
			<!-- 	</svg> -->
			<!-- </a> -->
		</div>
		<div class="flex flex-col px-8 py-6">
			<h2 class="mb-2 text-lg font-semibold sm:text-xl title-font dark:text-gray-100">Full Stack Development</h2>
			<p class="flex-1 mb-4 text-base leadi dark:text-gray-400">Development the hole app, from the backend to the frontend</p>
			<!-- <a class="inline-flex items-center space-x-2 text-sm dark:text-violet-400" href="/docs"> -->
			<!-- 	<span>Learn More</span> -->
			<!-- 	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4"> -->
			<!-- 		<path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path> -->
			<!-- 	</svg> -->
			<!-- </a> -->
		</div>
	</div>
</section>
