---
---
<section>
 <h3 class="flex justify-center">Membership Benefits</h3> 
  <div class="grid grid-col-1 sm:grid-col-3 sm:grid-col-3">
    <div>
      <h4 class="justify-center">Top-notch quality</h4>
      <p>Insane code quality at your fingertips whenever you need it</p>
    </div> 
    <div>
      <h4 class="justify-center">Flexible and scalable</h4>
      <p>Scale up or down as needed, and pause or cancel at anytime.</p>
    </div>
    <div>
      <h4 class="justify-center">Battle Proven Technology</h4>
      <p>Your App will use only the most stable and proven technologies like Django and Vuejs</p>
    </div> 
    <div>
      <h4 class="justify-center">Full Stack Development</h4>
      <p>Development the hole app, from the backend to the frontend</p>
    </div>
    <div>
      <h4 class="justify-center">PWA in Vuejs</h4>
      <p>All webapps will have a PWA frontend so 1st class mobile support</p>
    </div>
  </div>
</section>
