---
import ProjectCard from './Card.astro'
---

<div class="relative h-full w-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] sm:bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-cyan-400 via-slate-950 to-slate-950">   <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"></div>

<h3 class="text-2xl font-bold tracki sm:text-4xl dark:text-gray-50   text-center py-12">Here are some of my most recent projects:</h3>
<div class="hero">
<div class="relative h-full w-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] sm:bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-cyan-400 via-slate-950 to-slate-950">   
<div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"></div></div>
  <div class="grid grid-cols-1 gap-16 sm:grid-cols-2 hero-content">
      <ProjectCard title="Edudate" description="Dating app for educators, in development" /> 
      <ProjectCard title="Dracula" description="Blood Sugar Tracker with a privacy focused design" /> 
      <ProjectCard title="FullerItConsulting.dev" description="It consulting company's website and internal tools"/> 
      <ProjectCard title="NerdTime" description="AI powered Issue Tracker for nerds and Software Engineers"/> 
      <ProjectCard title="Virture Tracker" description="A Essential matrix based project manager"/> 
      <ProjectCard title="Aspie Meets Nerd" description="A a dating app for nerds and people with autism"/> 
  </div>
</div>

