---
import ProjectCard from './Card.astro'
---

<div class="bg-slate-950 w-full">
  <h3 class="text-2xl font-bold tracki sm:text-4xl dark:text-gray-50  text-center py-12">Here are some of my most recent projects:</h3>
  <div class="hero">
    <div class="grid grid-cols-1 gap-16 sm:grid-cols-2 hero-content">
      <ProjectCard title="Edudate" description="Dating app for educators, in development" /> 
      <ProjectCard title="Dracula" description="Blood Sugar Tracker with a privacy focused design" /> 
      <ProjectCard title="FullerItConsulting.dev" class="sm:grid-span-2" description="It consulting company's website and internal tools"/> 
      <ProjectCard title="NerdTime" description="AI powered Issue Tracker for nerds and Software Engineers"/> 
      <ProjectCard title="Virture Tracker" description="A Eisenhower Matrix based project manager"/> 
      <ProjectCard title="LunarVim"  class="sm:grid-span-2" description="A a Ide layer for NeoVim"/> 
  </div>
</div>

