---
import ServiceCard from "./ServiceCard.astro"
---
<section class="py-20 dark:text-gray-100">
	<div class="container px-4 mx-auto">
		<div class="max-w-2xl mx-auto mb-16 text-center">
			<span class="font-bold tracki uppercase dark:text-violet-400">Pricing</span>
			<h2 class="text-4xl font-bold lg:text-5xl">Choose your best plan</h2>
		</div>
    <div class="grid gap-x-20 gap-y-20 grid-cols-1 sm:grid-cols-2">
      <ServiceCard title="Standard Plan" ImageAlt="CyberPunk" body="2 tasks at a time" link="https://buy.stripe.com/bIYeVX2F98Oo1NeeUW" mobile="PWAs or Native"/>
    </div>
	</div>
</section>
