---
import ServiceCard from "./ServiceCard.astro"
---
<section class="grid gap-x-4 gap-y-16 grid-cols-1 sm:grid-cols-3">
    <ServiceCard title="Basic Plan" ImageAlt="CyberPunk" body="one task at a time" link="https://buy.stripe.com/00gcNP93x6Gg4Zq6oo" mobile="PWAs"/> 
    <ServiceCard title="Premium Plan" ImageAlt="CyberPunk" body="2 tasks at a time" link="https://buy.stripe.com/bIYeVX2F98Oo1NeeUW" mobile="PWAs or Native"/>
    <ServiceCard title="Basic Maintenance Plan" ImageAlt="CyberPunk" body="1 task at a time" link="https://buy.stripe.com/dR6cNPcfJ2q08bCaEF" mobile="PWAs"/>
</section>

