---
import { Image } from 'astro:assets';
---
<section class="p-4 lg:p-8 dark:text-gray-100">
	<div class="container mx-auto space-y-12">
		<div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
			<img src="https://source.unsplash.com/640x480/?1" alt="" class="h-80 aspect-video">
			<div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
				<span class="text-xs uppercase dark:text-gray-400">Join us, it's great!</span>
				<h3 class="text-3xl font-bold">We're not reinventing the wheel</h3>
				<p class="my-6 dark:text-gray-400">I use battle-proven technologies to make modern, secure, and reliable apps</p>
			</div>
		</div>
		<div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row-reverse">
			<img src="https://source.unsplash.com/640x480/?2" alt="" class="h-80  aspect-video">
			<div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
				<span class="text-xs uppercase dark:text-gray-400">Join us, it's great!</span>
				<h3 class="text-3xl font-bold">We build apps</h3>
				<p class="my-6 dark:text-gray-400">I am dedicated to crafting the highest quality code you've ever utilized!</p>
			</div>
		</div>
		<div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
			<img src="https://source.unsplash.com/640x480/?3" alt="" class="h-80  aspect-video">
			<div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
				<span class="text-xs uppercase dark:text-gray-400">Join us, it's great!</span>
				<h3 class="text-3xl font-bold">Not technically inclined? No problem, I've got you covered</h3>
				<p class="my-6 dark:text-gray-400">As a Full Stack End-to-End developer with over 8 years of experience, I can develop, deploy, and maintain your app from start to finish.</p>
			</div>
		</div>
	</div>
</section>
