---
import phone from "./PhoneApp.astro"
---
<section class="dark:text-gray-100">
	<div class="container max-w-xl p-6 py-12 mx-auto space-y-24 lg:px-8 lg:max-w-7xl">
		<div>
			<h2 class="text-3xl font-bold tracki text-center sm:text-5xl dark:text-gray-50">Techologies I use</h2>
			<p class="max-w-3xl mx-auto mt-4 text-xl text-center dark:text-gray-400">To build awesome Full Stack Apps</p>
		</div>
		<div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
			<div>
				<h3 class="text-2xl font-bold tracki sm:text-3xl dark:text-gray-50">Backend with Django and Python</h3>
				<p class="mt-3 text-lg dark:text-gray-400">Secure, Stable and reliable monilithic Python MVC framework</p>
				<div class="mt-12 space-y-12">
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leadi dark:text-gray-50">Scalable</h4>
							<p class="mt-2 dark:text-gray-400">Django's scalability stems from its modular architecture, efficient performance features like caching and asynchronous processing, and a robust ecosystem that includes tools and plugins for expansion.</p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leadi dark:text-gray-50">Secure</h4>
							<p class="mt-2 dark:text-gray-400">Django prioritizes security with defenses against SQL injection, XSS, and CSRF built in, embodying a "secure by default" philosophy. Regular updates and a clear security framework make it a safe, reliable choice for developers.</p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leadi dark:text-gray-50">Reliable</h4>
							<p class="mt-2 dark:text-gray-400">Django is known for its reliability, thanks to a mature codebase, active community, and regular updates. Its emphasis on efficient, error-free development and robust security practices makes it a dependable choice for all sizes of projects.</p>
						</div>
					</div>
				</div>
			</div>
			<div aria-hidden="true" class="mt-10 lg:mt-0">
				<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Django</title><path d="M11.146 0h3.924v18.166c-2.013.382-3.491.535-5.096.535-4.791 0-7.288-2.166-7.288-6.32 0-4.002 2.65-6.6 6.753-6.6.637 0 1.121.05 1.707.203zm0 9.143a3.894 3.894 0 00-1.325-.204c-1.988 0-3.134 1.223-3.134 3.365 0 2.09 1.096 3.236 3.109 3.236.433 0 .79-.025 1.35-.102V9.142zM21.314 6.06v9.098c0 3.134-.229 4.638-.917 5.937-.637 1.249-1.478 2.039-3.211 2.905l-3.644-1.733c1.733-.815 2.574-1.53 3.109-2.625.561-1.121.739-2.421.739-5.835V6.059h3.924zM17.39.021h3.924v4.026H17.39z"/></svg>
			</div>
		</div>
		<div>
			<div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
				<div class="lg:col-start-2">
					<h3 class="text-2xl font-bold tracki sm:text-3xl dark:text-gray-50">Frontend with Vuejs and Astrojs</h3>
					<!-- <p class="mt-3 text-lg dark:text-gray-400">Per odio fabellas consulatu cu. Utroque detracto mel ea, quo te latine theophrastus. Ea his tale nibh dissentias, mei exerci tamquam euripidis cu.</p> -->
					<div class="mt-12 space-y-12">
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-6 h-6 rounded-md dark:bg-violet-400 dark:text-gray-900">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leadi dark:text-gray-50">Stable</h4>
								<p class="mt-2 dark:text-gray-400">Vue.js ensures stability with backward-compatible updates, an active community for quick issue resolution, and clear documentation for best practices. Its progressive enhancement approach allows for smooth, incremental integration, enhancing project consistency.</p>
							</div>
						</div>
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leadi dark:text-gray-50">Clean</h4>
								<p class="mt-2 dark:text-gray-400">Vue.js fosters clean, maintainable code through its simple syntax, component-based structure for reusability, and automatic UI updates via its reactivity system. Guidelines from its documentation and community further support writing efficient code.</p>
							</div>
						</div>
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-lg font-medium leadi dark:text-gray-50">Modern</h4>
								<p class="mt-2 dark:text-gray-400">Vue.js offers a modern, component-based architecture and reactive data binding, supported by a suite of tools for efficient web development. Its progressive design allows for seamless integration into projects, streamlining the adoption of modern web practices.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1">
          <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Vue.js</title><path d="M24,1.61H14.06L12,5.16,9.94,1.61H0L12,22.39ZM12,14.08,5.16,2.23H9.59L12,6.41l2.41-4.18h4.43Z"/></svg>
				</div>
			</div>
		</div>
    <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
			<div>
				<h3 class="text-2xl font-bold tracki sm:text-3xl dark:text-gray-50">Mobile With Flutter and Dart</h3>
				<p class="mt-3 text-lg dark:text-gray-400">Cross Platform, Fast and Modern Mobile Development Framework</p>
				<div class="mt-12 space-y-12">
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leadi dark:text-gray-50">Cross Platform</h4>
							<p class="mt-2 dark:text-gray-400">Build beautiful mobile UIs with Flutter that work on Android and IOS with a single codebase.</p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leadi dark:text-gray-50">Fast</h4>
							<p class="mt-2 dark:text-gray-400">Flutter leverages LLVM to compile to native ARM and X86_64 matchine code, so your app runs at native speeds!!</p>
						</div>
					</div>
					<div class="flex">
						<div class="flex-shrink-0">
							<div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
								</svg>
							</div>
						</div>
						<div class="ml-4">
							<h4 class="text-lg font-medium leadi dark:text-gray-50">Modern</h4>
							<p class="mt-2 dark:text-gray-400">Developed by Google and a community of opens source developers, Flutter is on the cutting edge of cross platform development, supporting all majro platoforms, including Android, IOS, Web, Window, MacOS and Linux</p>
						</div>
					</div>
				</div>
			</div>
			<div aria-hidden="true" class="mt-10 lg:mt-0">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Flutter</title><path d="M14.314 0L2.3 12 6 15.7 21.684.013h-7.357zm.014 11.072L7.857 17.53l6.47 6.47H21.7l-6.46-6.468 6.46-6.46h-7.37z"/></svg>
			</div>
		</div>
	</div>
</section>
