---
import phone from "./PhoneApp.astro"
---
<section class="hero">
  <div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"></div></div>
  <div class="hero-content text-center">
    <div class="max-w-2xl text-left">
      <h3 class="text-xl font-bold py-2">Here’s the proven industry standard technologies I specialize on:</h3>	
      <ul>
        <li>Django - for websites and APIs</li>
        <li>Vue.js - for highly interactive websites</li>
        <li>Astro - for static websites</li>
        <li>Flutter - for mobile apps</li>
      </ul> 
      <br class="py-6">
      <p class="py-1">How much does it cost to build a mobile app? </p>
      <p class="py-1">$997/month</p>
      <p class="py-1">How about an API? </p>
      <p class="py-1">$997/month </p>
      <p class="py-1">How about a website, with an API, and a mobile app? </p>
      <p class="py-1">$997/month </p>
      <p class="py-1">Does this include design? </p>
      <p class="py-6">I can design your app and website but some clients prefer to bring their own designs. Either way it's $997/month. </p>
      <p class="py-6">The price will never change. I will never charge you hidden fees. Note that this does not include the price of third party platforms, licenses, or special equipment required. </p>
    </div>
  </div>
</section>
