---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
    <script data-goatcounter="https://burnsedia.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
	</head>

	<body class="h-screen font-Verdana sans-serif leading-6 text-white min-h-screen bg-gray-900 lg:w-1/2 md:w-3/4 sm:w-full">
    <Header />
		<main class="h-full bg-background-color py-28 flex flex-col justify-center items-center">
      <slot />
		</main>
		<Footer />
	</body>
</html>
