---
import BaseHead from '../components/legacy/BaseHead.astro';
import Header from '../components/shared/Header.astro';
import Footer from '../components/legacy/Footer.astro';
import '../styles/global.css';
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts.ts"
---

<html lang="en" data-theme="darksynthwave">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="min-h-screen font-sans text-white bg-base-100">
    <Header />
    <main class="flex flex-col items-center justify-center">
      <slot />
    </main>
    <Footer />
  </body>
</html>
