---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.astro';
import { any } from 'astro/zod';


const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<main>
      <Header />
      <slot />
		</main>
		<Footer />
	</body>
</html>
