---
import { getEntryBySlug } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
const { slug } = Astro.params;
const post = await getEntryBySlug('projects', slug);
const { Content } = await post.render();
const { title, description, pubDate, updatedDate, heroImage } = post.data;
---
<BaseLayout>
  <article class="w-full max-w-4xl px-4 sm:px-8 md:px-12 lg:px-16">
    {heroImage && <img class="w-full max-w-4xl rounded-md shadow-lg" src={heroImage} alt="" />}
    <!-- Control the heading -->
    <h1 class="title py-4 text-3xl md:text-4xl lg:text-5xl text-center">{title}</h1>
    <div class="text-center">
      <FormattedDate date={pubDate} />
      {updatedDate && <div class="last-updated-on">Last updated on <FormattedDate date={updatedDate} /></div>}
    </div>
    <hr />
    <div class="prose lg:prose-lg max-w-none text-base-content">
      <Content /> <!-- This strips frontmatter and renders markdown -->
    </div>
  </article>
</BaseLayout>
